              @keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.piscante {
    animation: blink 1s infinite;
}
body{
    background-image: radial-gradient(circle,  rgb(112, 112, 234), rgb(102, 48, 252));
}
p{
    margin-left: 250px;
    margin-top: 250px;
    font-size: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: tomato;
}

a{
    background-color: black;
    margin-left: 700px;
    font-size: 30px;
    color: rgb(112, 112, 234);
    border-radius: 5px;

}