body {
    margin: 0;
    overflow: hidden;
}

.game-container {
    width: 100vw; /* Largura da tela inteira */
    height: 100vh; /* Altura da tela inteira */
    background-color: #f7f7f7;
    position: relative;
    overflow: hidden;
}

.sonic {
    width: 5vw; /* Largura do Sonic em relação à largura da tela */
    height: auto; /* Altura ajustada automaticamente */
    background-image: url('Sonic.gif');
    background-size: cover;
    position: absolute;
    bottom: 0;
}

.robot {
    width: 4vw; /* Largura do robô em relação à largura da tela */
    height: auto; /* Altura ajustada automaticamente */
    background-image: url('ju.gif');
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 100vw; /* Inicia o robô fora da tela à direita */
}

.bat {
    width: 3vw; /* Largura do morcego em relação à largura da tela */
    height: auto; /* Altura ajustada automaticamente */
    background-image: url('bat.gif'); /* Substitua 'bat.png' pela imagem do morcego */
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 100vw; /* Inicia o morcego fora da tela à direita */
}
